{% extends './chat_base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		
	<nav class="navbar bg-body-light">
		<div class="container-fluid">
			<a class="navbar-brand">Chat App</a>
			<div class="nav-link">
				<a href="#" class="profile-link">Profile</a>
				<a href="#" class="logout">Logout</a>
			</div>
		</div>
	</nav>

		<div class="content-container">
			<div class="list-users-container">
				<div class="search-box sticky-sm-top">
        			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				</div>
					<ul class="list-users">
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
						<li class="user">
							<div class="profile">
								<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
							</div>
							<p class="name-time">
								<span class="name">James Spader</span>
								<span class="last-seen">17/09/2023</span>
							</p>
						</li>
					</ul>
			</div>
			<div class="direct-chat-container">
				<div class="receiver-container sticky-sm-top">
					<p>To: <span class="receiver-name">Chuck Norris</span></p>
				</div>
				<div class="chat-container">
					<div class="sent-message-container">
						<p>18:00</p>
						<div class="sent-message">
							<p>Hello there</p>
						</div>
						<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
					</div>
					<div class="received-message-container">
						<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
						<div class="received-message">
							<p>Hi there</p>
						</div>
						<p>18:00</p>
					</div>
					<div class="received-message-container">
						<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
						<div class="received-message">
							<p>Hi there</p>
						</div>
						<p>18:00</p>
					</div>
					<div class="sent-message-container">
						<p>18:00</p>
						<div class="sent-message">
							<p>Hello there</p>
						</div>
						<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
					</div>
					<div class="sent-message-container">
						<p>18:00</p>
						<div class="sent-message">
							<p>Hellotherefssssssssssssssssssssssssssssssssssssssssssssssssssssssssssfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffssss</p>
						</div>
						<img src="../../static/img/ffe2b944dc300e133802902bc6b4afca.jpg" alt="No image" />
					</div>

				</div>
				<div class="message-box-container">
					<input type="text" name="message" placeholder="Type your message here..." class="message-box">
				</div>
			</div>
		</div>
		
	</div>
{% endblock content %}