{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reg_login.css' %}">
    <title>Profile Pic</title>
</head>
<body>

    
    <div class="container">
        <h1>Choose profile picture</h1>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message | safe }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="profile-image">
                <img src="" id="profile-image" alt="">
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" accept="image/*">
                <!-- <label for="inputGroupFile02" class="input-group-text">Choose image</label> -->
            </div>
            
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Tell us something about you...">
                <label for="floatingInput">I'm online with DjangoConnect</label>
              </div>
              

            <div class="d-grid gap-2">
                <button class="btn btn-success" type="submit">Select Picture</button>
                <a href="{% url 'index' %}" class="mb-3 btn btn-outline-info" type="button">Skip</a>
            </div>
            
        </form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>